h1 {
	text-align: center;
}
img {
	width: 200px;
	border-radius: 80px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;  /* nebo jiná šířka podle potřeby */
}
h2 {
	text-align: center;
}