body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
/* Nastavení stylu pro všechny obrázky na stránce */
img {
    display: block; /* Zobrazení jako blok pro možnost centrování */
    margin-left: auto; /* Automatický levý okraj pro centrování */
    margin-right: auto; /* Automatický pravý okraj pro centrování */
    width: 150px; /* Pevná šířka obrázku */
    border-radius: 85px; /* Velké zaoblení rohů */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Lehký stín pro lepší vizuální efekt */
}

.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.flex-item {
    width: 150px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
    text-align: center;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.flex-item:hover {
    background-color: #e0e0e0;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
}
